img {
    width: 400px;
    height: 250px;
    margin: 10px;
}

.pic1 {
    float: left;
}

.pic1 {
    float: right;
}

.video {
    width: 100%;
    height: 70px; 
    object-fit: cover; 
}
article p{
   text-align: left;
}
